<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS Form Validation</title>
	  <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
	<title>AngularJS Form Validation</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <script>
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope, $http) {
    $scope.submitForm = function() {
      if ($scope.myForm.$valid) {
        $http.post("submit.php", $scope.user)
          .then(function(response) {
            console.log(response);
            alert("formu doldurduğunuz için teşekkür ederiz.");
            window.location.reload();
          });
      } else {
        alert("Please fill all required fields.");
      }
    };
  });
</script>
</head>
<body ng-controller="myCtrl">
    <div class="container" >
	   <form name="myForm">
	   
	    <i class="fas fa-paper-plane"></i>
		
		<div class="input-group">
		<label for="name">ad:</label>
		<input type="text" id="name" name="name" ng-model="user.name" required><br><br>
		</div>
		
		<div class="input-group">
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" ng-model="user.email" required><br><br>
		</div>
		
		<div class="input-group">
        <label for="gender">Cinsiyet:</label>
        <input type="radio" id="male" name="gender" value="Male" formControlName="genderControl" required> Erkek
        <input type="radio" id="female" name="gender" value="Female" formControlName="genderControl" required> kadın
		</div>
		
		<div class="input-group">
        <label for="phone">Telefon:</label>
        <input type="tel" id="phone" name="phone" ng-model="user.phone" required><br><br>
		</div>
		
		<div class="input-group">
        <label for="date">Tarih:</label>
        <input type="date" id="date" name="date" ng-model="user.date" required><br><br>
		</div>
		
		<div class="input-group">
        <label for="language">Dil:</label>
        <select id="language" name="language" ng-model="user.language" required>
            <option value="">Bir dil seç</option>
            <option value="arabic">Türkçe</option>
            <option value="english">İngilizce</option>
            <option value="french">Arapça</option>
            <option value="spanish">İspanyol</option>
        </select><br><br>
		</div>
		
		<div class="input-group">
        <label for="message">mesaj:</label>
        <textarea id="message" name="message" ng-model="user.message" required></textarea><br><br>
		</div>
	
		<input type="submit" value="submit" ng-click="submitForm()">
	    <input type="reset" value="Sıfırla">
		
	</form>
	</div>
</body>
</html> 